body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
  }
  
  .form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  input,
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .button-container {
    text-align: center;
    margin-top: 20px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  #profile-picture-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  #change-pfp {
    display: none;
  }
  
  #custom-input {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  #custom-input:hover {
    background-color: #2980b9;
  }
  

nav{
    width: 100%;
    height: 3rem;
    color: #fff;
    background-color: #2980b9;
    margin-bottom: 1rem;
    display: flex;
}

nav i{
    font-family: 10rem;
}

nav h2{
    margin-top: 10px;
    margin-left: 1rem;
}

nav a{
    color: #fff;
    text-decoration: none;
}

nav a:hover{
    text-decoration: underline;
}

#username-tooltip {
    display: none;
    color: #e74c3c;
    font-size: 12px;
    margin-top: 5px;
  }
  
  #username:hover + #username-tooltip {
    display: block;
  }

  #username:disabled {
    background-color: #f5f5f5; 
    color: #888;
  }